<!DOCTYPE html>
<html>
    <head>
        <%- include('partial/head.ejs'); %>
    </head>

    <body>
        <header>
            <!-- probably nothing here -->
        </header>

        <!-- put code here -->
        <p>Hello new user !</p>

    </body>
</html>