<!DOCTYPE html>
<html>
    <head>
        <%- include('partial/head.ejs'); %>
    </head>

    <body>
        <header>
            <!-- probably nothing here -->
        </header>

        <!-- put code here -->
        <h1 class="center">
            Bienvenue au <br>
            THE LOVE IN WORLD !
        </h1>

        <div class="center">
            <a href="/login" class="button">Première connection</a>
        </div>

        <p class="center">Déjà un compte :</p>

        <div class="center">
            <form action="connection" method="post">
                <input type="text" name="username">
                <br>
                <input type="password" name="pswd">
            </form>
        </div>

    </body>
</html>