<!DOCTYPE html>
<html>
    <head>
        <%- include('partial/head.ejs'); %>
    </head>

    <body>
        <script src='js/daynight'></script>
        <header>
            <!-- probably nothing here -->
        </header>

        <!-- put code here -->
        <h1 class="center" style="font-size:5vw">
            Bienvenue au <br>
            THE LOVE IN WORLD !
        </h1>

        <div class="center">
            <button style="text-align: center;">Première connection</button>
        </div>

        <p class="center">Déjà un compte :</p>

        <div class="center">
            <input type="email" id="mail"> <br>
            <input type="password" id="pswd">
        </div>

    </body>
</html>