<!DOCTYPE html>
<html>
    <head>
        <%- include('partial/head.ejs'); %>
    </head>

    <header>
        <nav class = 'navDeco'> 
            <p><%= logine %><p>
        </nav>
        <!-- probably nothing here -->
    </header>

    <body>
        <script src='js/daynight'></script>
        <header>
            <!-- probably nothing here -->
        </header>

        <!-- put code here -->
        <h1 class="center" style="font-size:5vw">
            Bienvenue au <br>
            THE LOVE IN WORLD !
        </h1>

        <div class="center">
            <a href="/login" class="button">Première connection</a>
        </div>

        <p class="center">Déjà un compte :</p>

        <div class="center">
            <form action="connection" method="post">
                <label for="username">Entrez votre nom d'utilisateur</label> 
                <input type="text" name="username" placeholder = "Christos" required>
                <br><br>
                <label for="mdp">Entrez votre mot de passe</label>
                <input type="password" name="mdp" required>
                <br><br>
                <!-- faire en sorte que l'user se connecter -->
                <button type="submit">Connection</button>
            </form>
        </div>

    </body>
</html>