<!DOCTYPE html>
<html>
    <head>
        <%- include('partial/head.ejs'); %>
        <script type="text/javascript" src="js/ajout_c.js"></script>
    </head>

    <body>
        <script src='js/daynight'></script>
        <form action="newUser" method="post">
            <input type="text" name="username" required>
            <br>
            <input type="email" name="email" required>
            <br><br>
            <input type="password" name="mdp" required>
            <br>
            <input type="password" name="mdpCopy" required> 
            <br>
            <button type="submit">Créer un compte</button>
        </form>

        <form action="addCharToUser" method="post">
            <select name="characteristic" id="characteristic-select">
                <option value="Gentil">Gentil</option>
                <option value="Méchant">Méchant</option>
            </select>
            
            <button onclick="ajout_c(document.getElementById('characteristic-select').value)">test</button>
        </form>
        
        <div id="chara_poss"></div>
    </body>
</html>