<!DOCTYPE html>
<html>
    <head>
        <%- include('partial/head.ejs'); %>
        <script type="text/javascript" src="js/ajout_c.js"></script>
    </head>

    <body>
        <script src='js/daynight'></script>
        <form action="newUser" method="post" class ="center">
            <br>
            <label for="username">Entrez votre nom d'utilisateur</label> 
            <input type="text" name="username" placeholder = "Christos" required>
            <br><br>
            <label for="email">Entrez votre Email</label>
            <input type="email" name="email" placeholder = "Christos@123.com" required>
            <br><br>
            <label for="mdp">Entrez votre mot de passe</label>
            <input type="password" name="mdp" required>
            <br><br>
            <label for="mdpCopy">Entrez à nouveau votre mot de passe</label>
            <input type="password" name="mdpCopy" required> 
            <br><br>

            <select name="characteristic" id="characteristic-select">
                <option value="Gentil">Gentil</option>
                <option value="Méchant">Méchant</option>
            </select> 
            <br><br>
            <button type="submit" >Créer un compte</button>
        </form>

        
            
            
        
        <div id="chara_poss"></div>
    </body>
</html>