<!DOCTYPE html>
<html>
    <head>
        <%- include('partial/head.ejs'); %>
        <script type="text/javascript" src="js/ajout_c.js"></script>
    </head>

    <body>
        <script src='js/daynight'></script>
        <form action="newUser" method="post" class ="center">
            <br>
            <label for="username">Entrez votre nom d'utilisateur</label> 
            <input type="text" name="username" placeholder = "Christos" required>
            <br><br>
            <label for="email">Entrez votre Email</label>
            <input type="email" name="email" placeholder = "Christos@123.com" required>
            <br><br>
            <label for="mdp">Entrez votre mot de passe</label>
            <input type="password" name="mdp" required>
            <br><br>
            <label for="mdpCopy">Entrez à nouveau votre mot de passe</label>
            <input type="password" name="mdpCopy" required> 
            <br><br>
            <button type="submit" >Créer un compte</button>
        </form>

        <form action="addChar" method="post">
            <input type="text" name="newChara">
            <button type="submit">Ajoutez une nouvelle caractéristique</button>
        </form>

        <form action="addCharToUser" method="post">
            <select name="characteristic" id="characteristic-select">
                <% listChara.forEach(function(chara) { %>
                    <option value= <%= chara.name %> > <%= chara.name %> </option>
                <% }); %>
            </select>
            
            <button onclick="ajout_c(document.getElementById('characteristic-select').value)">test</button>
        </form>
                
        <div id="chara_poss"><%= chara %></div>
    </body>
</html>