<!DOCTYPE html>
<html>
    <head>
        <%- include('partial/head.ejs'); %>
    </head>

    <header>
        <nav class = 'navDeco'> 
            <p><%= logine %><p>
        </nav>
        <!-- probably nothing here -->
    </header>

    <body>

    </body>
</html>