<!DOCTYPE html>
<html>
    <head>
        <%- include('partial/head.ejs'); %>
    </head>

    <body>
        <script src='js/daynight'></script>
        <header>
            <!-- probably nothing here -->
        </header>

        <p>Préférence en commun</p>

        <p>Personne trouvées</p>

    </body>
</html>