<!DOCTYPE html>
<html>
    <head>
        <%- include('partial/head.ejs'); %>
    </head>

    <body>
        <script src='js/daynight'></script>
        <header>
            <!-- probably nothing here -->
        </header>

        <div class="container">
            <!-- put code here -->
            <div id="contacts">
                <!-- zone des contacts -->
                <h1 class="center">Contacts</h1>
                <p class="center">
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                    Random name original
                </p>
            </div>

            <div id="messages">
                <!-- zone des messages -->
                <p>
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                </p>
            </div>
    </div>

    </body>
</html>