<!DOCTYPE html>
<html>
    <head>
        <%- include('partial/head.ejs'); %>
    </head>

    <body>
        <script src='js/daynight'></script>
        <header>
            <nav class = 'navDeco'> 
                <a href="deco"> <%= logine %></a>
                <a href="/disconnect"> <%= connecte %> </a>

            </nav>
            <!-- probably nothing here -->
        </header>

        <div class="container">
            <!-- put code here -->
            <div id="contacts">
                <!-- zone des contacts -->
                <h1 class="center">Contacts</h1>
                
                <ul>
                    <% listContacts.forEach(function(contact) { %>
                        <li> <a href = <!-- Nous ne savons pas quoi mettre ici --> >  Ecrire </a> <%= contact.known %> </li>
                    <% }); %>
                </ul>
            </div>

            <div id="messages">
                <!-- zone des messages --> 
                <p>
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                </p>
            </div>
    </div>

    </body>
</html>